# =========================================
# Environment Variables
# ส่วนนี้สำคัญที่สุดสำหรับความปลอดภัย
# ห้ามนำไฟล์ .env ที่มีข้อมูลลับขึ้น GitHub เด็ดขาด
# =========================================
.env


# =========================================
# Dependencies
# =========================================
# โฟลเดอร์ที่เก็บ Library ทั้งหมด มีขนาดใหญ่มาก
# สามารถติดตั้งใหม่ได้ด้วย `npm install`
node_modules


# =========================================
# Logs
# =========================================
# ไฟล์ Log ที่เกิดจากการรันหรือ Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =========================================
# Editor directories and files
# =========================================
# ไฟล์ตั้งค่าของโปรแกรม Code Editor และไฟล์ของระบบปฏิบัติการ
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?